*

!/package.json
!/yarn.lock
!/.yarnrc.yml
!/.yarn
!/libraries/fs
/libraries/fs/node_modules
/libraries/fs/index.js
/libraries/fs/index.d.ts
/libraries/fs/tsconfig.tsbuildinfo
!/libraries/epub
/libraries/epub/__fixtures__/
/libraries/epub/node_modules
/libraries/epub/index.js
/libraries/epub/index.d.ts
/libraries/epub/tsconfig.tsbuildinfo
!/libraries/path
/libraries/path/node_modules
/libraries/path/index.js
/libraries/path/index.cjs
/libraries/path/index.d.ts
!/libraries/mapping
/libraries/mapping/node_modules
/libraries/mapping/index.js
/libraries/mapping/index.cjs
/libraries/mapping/index.d.ts
!/libraries/audiobook
/libraries/audiobook/src/__fixtures__/
/libraries/audiobook/node_modules
/libraries/audiobook/src/**/*.js
/libraries/audiobook/src/**/*.cjs
/libraries/audiobook/src/**/*.d.ts
!/libraries/align
/libraries/align/src/**/__fixtures__/
/libraries/align/node_modules
!/applications/web
!/docker-scripts
!/scripts
/applications/web/.next
/applications/web/node_modules
/applications/web/tsbuild
/applications/web/work-dist
/applications/web/whisper-builds
/applications/web/src/__fixtures__/
/applications/web/.env.local
/applications/web/assets
/applications/web/image-cache
/applications/web/uploads
/applications/web/work-dist
**/storyteller.db*
__tests__
!/config/tsup
/config/tsup/node_modules
!/config/eslint
/config/eslint/node_modules

!/libraries/ghost-story
/libraries/ghost-story/node_modules
/libraries/ghost-story/dist

!/libraries/opds
/libraries/opds/node_modules
/libraries/opds/dist


/docker

**/whisper.cpp/**
