[BDFL]
* @smoores
!/applications/docs/
!/applications/mobile/
!/applications/tauri/
!/applications/web/
!/Dockerfile*
!/libraries/ghost-story/
!/libraries/okmain/
!/libraries/opds/
!/config/
!/yarn.lock
!/.yarn/versions/*.yml

[Applications]
/applications/docs/ @smoores @@maintainer
/applications/mobile/ @smoores @trcoffman
/applications/tauri/ @smoores @tefkah
/applications/web/ @smoores @tefkah
/Dockerfile* @smoores @tefkah

[Libraries]
/libraries/ghost-story/ @smoores @tefkah
/libraries/okmain/ @smoores @tefkah
/libraries/opds/ @smoores @tefkah

[Config]
/config/ @smoores @tefkah

[Dependencies]
/yarn.lock @smoores @tefkah @trcoffman
